# Default to WORKSPACE mode. Switch with --config=bzlmod when needed.
common --enable_bzlmod

build:bzlmod --enable_bzlmod
test:bzlmod  --enable_bzlmod
run:bzlmod   --enable_bzlmod

build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17

